{%- from "common/vars.jinja" import
    os, oscodename, osrelease,
    node_roles
-%}
{%- if 'kube-cluster-member' in node_roles %}
  {%- from "kubernetes/vars.jinja" import
      kubelet_container_runtime
  -%}
{%- endif %}

{%- set k8smap = {} if kubelet_container_runtime != 'containerd' else {
  'local': {
    'pkg_name': 'containerd.io',
    'version': '1.7.28-1~' + os + '.' + osrelease + '~' + oscodename
  }
} -%}
