{%- set osfingermap = {
  'Ubuntu-20.04': {
    'pkg_name': 'containerd',
    'version': '1.6.12-0ubuntu1~20.04.3'
  },
  'Ubuntu-22.04': {
    'pkg_name': 'containerd',
    'version': '1.6.12-0ubuntu1~22.04.3'
  }
} -%}
